*{
    margin:0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family:'ZenDots' ;
    src: url(fonts/ZenDots-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/RobotoSlab-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'DancingScript';
    src: url(fonts/DancingScript-Regular.ttf) format('truetype');
}


html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: rgb(43, 39, 39);
    background-image: url(img/graytech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/**/

header{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.logo{
    width: 100%;
    height: 80px;
    border: 5px solid #75421e;
    background-color: #008037;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.logo__img{
    width: 320px;
    height: 100%;
}

nav{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.menu{
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    font-family: "ZenDots",cursive;
    
}

.menu__item{
    text-align: center;
    list-style: none;
    margin-right: 1px;
    border: solid 5px #75421e;
    border-radius: 15%;
    width: 32%;
    background:-o-linear-gradient(210deg,rgba(15, 155, 155, 0.219), green) ;
    background:linear-gradient(240deg,rgba(15, 155, 155, 0.219), green) ;
}

.menu__item a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    height: 100%;
    line-height: 250%;
}

.menu__item a:hover{
    color: green;
    background: rgb(143, 253, 33,0.7);
    font-weight: bold;
    border-radius: 15%;
}

footer{
    width: 100%;
    text-align: center;
    margin:50px;
    color: white;
}

/**/

@media (mid-width:360px){
    .menu__item a{
        font-size: 1rem;
        line-height: 200%;
    }
}

@media (min-width:400px){

    #logo-img{
        width:360px;
    }
}

@media (min-width:768px){
    header{
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        margin-bottom: 20px;
    }

    .logo{
        width: 30%;
        height: 80px;
    }

    .menu{
        height: 80px;
    }

    .menu__item a{
        line-height: 350%;
        font-size: 1.2rem;
    }
}

@media (min-width:1024px){
    .logo{
        width: 25%;
        height: 100px;
    }

    .menu{
        height: 100px;
    }

    .menu__item a{
        font-size: 1.7rem;
        line-height: 350%;
    }
}

@media (min-width:1400px){
    .logo{
        width: 25%;
        height: 120px;
    }

    .menu{
        height: 120px;
    }

    .menu__item a{
        line-height: 350%;
        font-size: 2rem;
    }

}