/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

main{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
}

.intro{
    position: relative;
    width: 90%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    border: #75421e 10px solid;
    background-color: #246818;
    font-family: "DancingScript";;
}

.intro::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 35%;
    top: 30%;
    left: 0;
    background-color: rgb(77, 247, 247);
    -webkit-filter: blur(100px);
            filter: blur(100px);
}

.intro__h3{
    font-size: 1.6rem;
}

.intro__p{
    margin-top: 10px;
    font-size: 1.4rem;
}

.learning{
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: "ZenDots",cursive;
}

.learning__box{
    position: relative;
    width: 360px;
    height: 180px;
    margin-top: 30px;
}

.learning__box--orange{
    background: -o-linear-gradient(45deg,rgb(211, 89, 19),rgb(243, 127, 19));
    background: linear-gradient(45deg,rgb(211, 89, 19),rgb(243, 127, 19));
    box-shadow: 0px 0px 30px 5px rgb(243, 127, 19);
}

.learning__box--blue{
    background: -o-linear-gradient(45deg,rgb(15, 50, 250),rgb(2, 255, 171));
    background: linear-gradient(45deg,rgb(15, 50, 250),rgb(2, 255, 171));
    box-shadow: 0px 0px 30px 5px rgb(2, 225, 255);
} 

.learning__box--yellow{
    background: -o-linear-gradient(45deg,rgb(253, 195, 6),rgb(230, 255, 8));
    background: linear-gradient(45deg,rgb(253, 195, 6),rgb(230, 255, 8));
    box-shadow: 0px 0px 30px 5px rgb(230, 255, 8);
} 

.learning__box--purple{
    background: -o-linear-gradient(45deg,rgb(115, 37, 126),rgb(209, 34, 200));
    background: linear-gradient(45deg,rgb(115, 37, 126),rgb(209, 34, 200));
    box-shadow: 0px 0px 30px 5px rgb(209, 34, 200);
} 

.learning__box:active{
    background: #4dda35;
    box-shadow: 0px 0px 30px 5px #38a824;
}

.learning__vidro{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}

.learning__vidro::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.1);
}

.learning__box .learning__content{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.learning__h3{
    width: 100%;
    height: 100%;
}

.learning__subjects a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 35px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 500%;
}


@media (min-width:768px){

    .intro__p{
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .intro{
        margin-bottom: 20px;
    }

    .learning{
        width: 95%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .learning__box{
        position: relative;
        width: 220px;
        height: 380px;
    }

    .learning-box:active{
        -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    .learning__subjects a{
        line-height: 950%;
        font-size: 40px;
    }
}

@media (min-width:1024px){
    .intro{
        width: 95%;
        padding: 20px;
    }
    .intro__h3{
        font-size: 3rem;
    }
    .intro__p{
        font-size: 2rem;
        margin-top: 30px;
    }
    
    .learning{
        width: 95%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .learning__box{
        position: relative;
        width: 260px;
        height: 420px;
    }

    .learning__subjects a{
        line-height: 850%;
        font-size: 48px;
    }

}

@media (min-width:1380px){

    .intro{
        padding: 30px;
    }

    .intro__h3{
        font-size: 3.5rem;
    }

    .intro__p{
        font-size: 2.5rem;
        margin-top: 35px;
    }

    .learning{
        width: 95%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .learning__box{
        position: relative;
        width: 300px;
        height: 480px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;    
    }

    .learning__box:hover{
        -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
                transform: translateY(-20px);
    }

    .learning__subjects a{
        line-height: 820%;
        font-size: 58px;
    }

}